.btn-blue {
	background-color: #8E4E12;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.btn-blue a {
	text-decoration: none;
}
.btn-blue a:hover {
	color: white;
}
